@{
    ViewData["Title"] = "Create / Edit";
}

@model SpendSmart.Models.Expense


<div class="text-center">
    <h1 class="display-4">Create or edit an expense</h1>
</div>

<form asp-action="CreateEditExpenseForm">
    
    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id"/>

    <label class="mt-4">value $</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Value" step="0.01" required />

    <label class="mt-4">Date</label>
    <input class="form-control" type="date"  asp-for="Date" required />

    <label class="mt-4">Category</label>
    <select class="form-control" asp-for="CategoryId">
        <option value="">Select a Category</option>
        <option value="1">Entertainment</option>
        <option value="2">Groceries</option>
        <option value="3">Utilities</option>
        <option value="4">Taxes</option>
        <option value="5">Education</option>
        <option value="6">Other</option>
    </select>

    <label class="mt-4">Description</label>
    <input class="form-control" type="text" placeholder="Add a description" asp-for="Description" required />

    <button class="btn btn-primary mt-4" type="submit">Submit</button>
</form>