@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    
    <hr />
    <br />
    <a asp-action="Expenses" class="btn btn-primary">Total Expenses</a>
    <a asp-action="ExpensesMonthly" class="btn btn-primary">Expenses by Month</a>
    <a asp-action="ExpensesCategory" class="btn btn-primary">Expenses by Category</a>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">Create New Expense</a>
</div>
